-e git+https://github.com/zironycho/ast2json.git@e1bbf89bc6c6620e8906ee16e73e38e4b492038e#egg=ast2json-master
elasticsearch==2.3.0
elasticsearch-dsl==2.0.0
gitdb==0.6.4
humanize==0.5.1
GitPython==2.0.5
inflection==0.3.1
nose==1.3.7
PyGithub==1.26.0
python-dateutil==2.5.3
six==1.10.0
smmap==0.9.0
urllib3==1.24.2
wheel==0.24.0
